@use "abstracts" as *;
@use "components/main-container";
@mixin content{
    height: 30vh;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
}

*{
    // font-size: 62.5%;
    // scroll-padding-top: 5.5rem;
    // scroll-behavior: smooth;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
    // transition: all .2s linear;
    text-decoration: none;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
    .location{
        @include content;
    }

    .temperature{
        @include content;
        flex-direction: column;
    }

    .degree-section{
        display: flex;
        align-items: center;

        h2{
            font-size: 40px;
            align-items: center;
            cursor: pointer;
        }
        span{
            margin: 10px;
            font-size: 30px;
        }
    }
    //Loading Animation
    .loader-container{
        position: fixed;
        top:0; left:0;
        height:100%; 
        width:100%;
        z-index: 10000;
        background:linear-gradient(rgb(47,150,163), rgb(48,62,143));
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all .5s ease-in-out;
            img{
             width:35rem;
            }
            .loader-ring {
              position: absolute;
              top: 50%;
              left: 50%;
              margin: -120px 0 0 -120px;
              width: 240px;
              height: 240px;
              .loader-ring-light {
                width: 240px;
                height: 240px;
                -moz-border-radius: 240px;
                -webkit-border-radius: 240px;
                border-radius: 240px;
                -moz-box-shadow: 0 4px 0 #00abf2 inset;
                -webkit-box-shadow: 0 4px 0 #00abf2 inset;
                box-shadow: 0 4px 0 #00abf2 inset;
                animation: rotate-360 2s linear infinite;
              }
              
              .loader-ring-track {
                position: absolute;
                top: 0;
                left: 0;
                width: 240px;
                height: 240px;
                -moz-border-radius: 240px;
                -webkit-border-radius: 240px;
                border-radius: 240px;
                -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
                -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
                box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
              }
            }
            
            
            @keyframes rotate-360 {
              from {
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -webkit-transform: rotate(0);
                transform: rotate(0);
              }
              to {
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
        }
        
        .fade-out{
            opacity:0;
        }
}

 
  
