@use "abstracts" as *;
@use "components";


html{
    font-size: 62.5%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
    text-decoration: none;
    color: white;
}
  
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #70a1ff;
  background-image: linear-gradient(315deg, #70a1ff 0%, #c2c0c0 74%);
}
      


 